.modal {
  display: block; /* Show the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

#agreeButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#agreeButton:hover {
  background-color: #45a049;
}
#quiz {
    text-align: left;
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold;
}

#quiz h2,
#quiz p,
#quiz label,
#quiz input[type="radio"] {
    text-align: left;
}

#quiz label,
#quiz input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

#quiz ul {
    list-style-type: none;
    padding: 0;
}

#quiz li {
    margin-bottom: 10px;
}

#prev {
    margin-right: 10px;
}

#next {
    margin-left: 10px;
}

#prev, #next {
    display: inline-block;
}

.button {
    border: 2px solid #1b9eea; /* Updated border color */
    background-color: #1b9eea; /* Updated background color */
    color: white; /* Updated text color */
    text-decoration: none; /* Remove underline */
    position: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition */

}

.button:hover {
    background-color: #102d91; /* Darker blue on hover */
    text-decoration: none; /* Remove underline on hover */
}

.button:active {
    background-color: #0d2473; /* Even darker blue on click */
    transform: scale(0.98); /* Slightly shrink on click */
    text-decoration: none; /* Remove underline on click */
}
.button:a {
    color: white;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}
